<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/menu/list}">
      Main Menu
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
      	<!-- A menu link to lists airport  -->
       
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/passenger/list}">Passengers</a> -->
<!--         </li> -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/checkpoint1/list}">Checkpoints</a> -->
<!--         </li> -->
        
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/trackingrecords/list}">Checkpoints</a> -->
<!--         </li> -->
        
<!--         A menu link to add a new passenger -->
<!--         <li class="nav-item"> -->
        
<!--           <a class="nav-link" th:href="@{/checkpoint1/0}">Add new</a> -->
          
<!--           <a class="nav-link" th:href="@{/checkpoint3/list}">Checkpoint 3</a> -->
<!--         </li> -->
        
<!--         A menu link to add a new checkpoint3 -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/checkpoint3/0}">Add Truck ID</a> -->
<!--         </li> -->
        
<!--         A menu link to add a new checkpoint4 -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/checkpoint4/list}">Checkpoint 4</a> -->
<!--         </li> -->
        
<!--         A menu link to add a new checkpoint4 -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/checkpoint4/0}">Add Flight</a> -->
<!--         </li> -->
        
      </ul>
    </div>
  </nav>
</header>