<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>REST Consumer</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">TRACKING RECORD</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

<!-- For flight number T880 -->
<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <tbody>
            <tr th:each="luggage, iteration : ${trackingrecords}"
                th:if="${luggage.passenger.flightId != null && luggage.passenger.flightId.flightNo == 'T880'}">
                <td th:unless="${iteration.index > 0}">
                    <span th:remove="tag">Flight No:</span>
                    <span th:inline="text" th:text="| ${luggage.passenger.flightId.flightNo}|"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
            <tr>
                <th scope="col">Luggage ID</th>
                <th scope="col">Checkpoint 1</th>
                <th scope="col">Checkpoint 2</th>
                <th scope="col">Checkpoint 3</th>
                <th scope="col">Checkpoint 4</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="luggage : ${trackingrecords}"
                th:if="${luggage.passenger.flightId != null && luggage.passenger.flightId.flightNo == 'T880'}">
                <td th:text="${luggage.luggageId}"></td>
                <td th:if="${luggage.trackingrecords.size() > 0 && luggage.trackingrecords[0].checkPointId.checkPointId == 1}" 
                    th:text="${#temporals.format(luggage.trackingrecords[0].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 1 && luggage.trackingrecords[1].checkPointId.checkPointId == 2}" 
                    th:text="${#temporals.format(luggage.trackingrecords[1].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 2 && luggage.trackingrecords[2].checkPointId.checkPointId == 3}" 
                    th:text="${#temporals.format(luggage.trackingrecords[2].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 3 && luggage.trackingrecords[3].checkPointId.checkPointId == 4}" 
                    th:text="${#temporals.format(luggage.trackingrecords[3].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <!-- Add more <td> elements for additional checkpoints if needed -->
            </tr>
        </tbody>
    </table>
</div>

<!-- For flight number MH350 -->
<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <tbody>
            <tr th:if="${trackingrecords.?[passenger.flightId != null && passenger.flightId.flightNo == 'MH350'].size() > 0}">
                <td>
                    <span th:remove="tag">Flight No:</span>
                    <span th:inline="text" th:text="| MH350 |"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
            <tr>
                <th scope="col">Luggage ID</th>
                <th scope="col">Checkpoint 1</th>
                <th scope="col">Checkpoint 2</th>
                <th scope="col">Checkpoint 3</th>
                <th scope="col">Checkpoint 4</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="luggage : ${trackingrecords}"
                th:if="${luggage.passenger.flightId != null && luggage.passenger.flightId.flightNo == 'MH350'}">
                <td th:text="${luggage.luggageId}"></td>
                <td th:if="${luggage.trackingrecords.size() > 0 && luggage.trackingrecords[0].checkPointId.checkPointId == 1}" 
                    th:text="${#temporals.format(luggage.trackingrecords[0].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 1 && luggage.trackingrecords[1].checkPointId.checkPointId == 2}" 
                    th:text="${#temporals.format(luggage.trackingrecords[1].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 2 && luggage.trackingrecords[2].checkPointId.checkPointId == 3}" 
                    th:text="${#temporals.format(luggage.trackingrecords[2].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 3 && luggage.trackingrecords[3].checkPointId.checkPointId == 4}" 
                    th:text="${#temporals.format(luggage.trackingrecords[3].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <!-- Add more <td> elements for additional checkpoints if needed -->
            </tr>
        </tbody>
    </table>
</div>

<!-- For flight number A260 -->
<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <tbody>
            <tr th:if="${#lists.contains(trackingrecords.![passenger.flightId.flightNo], 'A260')}">
                <td>
                    <span th:remove="tag">Flight No:</span>
                    <span th:inline="text" th:text="| A260 |"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:if="${trackingrecords.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
            <tr>
                <th scope="col">Luggage ID</th>
                <th scope="col">Checkpoint 1</th>
                <th scope="col">Checkpoint 2</th>
                <th scope="col">Checkpoint 3</th>
                <th scope="col">Checkpoint 4</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="luggage : ${trackingrecords}"
                th:if="${luggage.passenger.flightId != null && luggage.passenger.flightId.flightNo == 'A260'}">
                <td th:text="${luggage.luggageId}"></td>
                <td th:if="${luggage.trackingrecords.size() > 0 && luggage.trackingrecords[0].checkPointId.checkPointId == 1}" 
                    th:text="${#temporals.format(luggage.trackingrecords[0].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 1 && luggage.trackingrecords[1].checkPointId.checkPointId == 2}" 
                    th:text="${#temporals.format(luggage.trackingrecords[1].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 2 && luggage.trackingrecords[2].checkPointId.checkPointId == 3}" 
                    th:text="${#temporals.format(luggage.trackingrecords[2].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:if="${luggage.trackingrecords.size() > 3 && luggage.trackingrecords[3].checkPointId.checkPointId == 4}" 
                    th:text="${#temporals.format(luggage.trackingrecords[3].dateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <!-- Add more <td> elements for additional checkpoints if needed -->
            </tr>
        </tbody>
    </table>
</div>	

    <div class="" th:unless="${trackingrecords.size() > 0}">
      <span>No record found!</span>
    </div>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        TrackingRecordID = link.attr("TrackingRecordID");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the  \<strong\>" + TrackingRecordID + "\<\/strong\>?");
        $("#confirmModal").modal();
      });

      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/trackingrecord/list}]]";
      });
    });
  </script>
  
  

</body>

</html>